.image-paste.save-dialog {
  display: flex;
  flex-direction: column;
}

lumine-panel.modal .image-paste.save-dialog lumine-text-editor[mini] {
  margin-bottom: 0;
}

.image-paste.save-dialog .image-paste-preview {
  position: relative;
  align-self: center;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
}

.image-paste.save-dialog .image-paste-preview img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;

  margin-top: 1em;
  max-height: var(--image-paste-preview-max-height, calc(100vh - 10rem));
  box-sizing: border-box;
  background-color: var(
    --image-paste-preview-background-color,
    var(--inset-panel-background-color)
  );
  border: 1px solid var(--base-border-color);
  border-radius: var(--component-border-radius);
  object-fit: contain;
  object-position: center;
}
